body {
    width: 500px;
    height: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #DBDBDB;
}

.header-div {
    width: 500px;
    background-color: grey;
    border-radius: 15%;
    z-index: 1;
    margin: 0 auto;
}

h1 {
    width: 490px;
    font-size: 20px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 15%;
    opacity: 0.55;
    z-index: 2;
    margin: 0 auto;
    color: black;
}

.instruct-box {
    width: 500px;
    height: 190px;
    background-color: grey;
    border-radius: 15%;
    z-index: 1;
    margin: 0 auto;
}

.intstruct-text {
    padding: 20px;
    width: 450px;
    height: 150px;
    font-size: 15px;
    text-align: auto;
    background-color: aquamarine;
    border-radius: 15%;
    opacity: 0.55;
    z-index: 2;
    margin: 0 auto;
    color: black;
}

ul {
    list-style-type: square;
}

.comp-text-box{
    width: 180px;
    background-color: grey;
    border-radius: 15%;
    z-index: 1;
    margin: 0 auto;
}

.compInfo {
    padding: 10px;
    width: 150px;
    font-size: 15px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 15%;
    opacity: 0.55;
    z-index: 2;
    margin: 0 auto;
    color: black;
    margin-bottom: 2px;
}

.compGuess-text {
    padding: 10px;
    width: 150px;
    font-size: 15px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 15%;
    opacity: 0.55;
    z-index: 2;
    margin: 0 auto;
    color: black;
}

.lossesWin-box {
    width: 500px;
    text-align: center;
}

.img-div {
    width: 500px;
    text-align: center;
}

.img1 {
    position: center;
    width: 40px;
    height: 40px;
    border: dotted;
    border-color: grey;
}

.img2 {
    position: center;
    width: 40px;
    height: 40px;
    border: dotted;
    border-color: grey;
}

.img3 {
    position: center;
    width: 40px;
    height: 40px;
    border: dotted;
    border-color: grey;
}

.img4 {
    position: center;
    width: 40px;
    height: 40px;
    border: dotted;
    border-color: grey;
}

.score-box {
    width: 180px;
    background-color: grey;
    border-radius: 15%;
    z-index: 1;
    margin: 0 auto;
}

.your-title {
    padding: 10px;
    width: 150px;
    font-size: 15px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 15%;
    opacity: 0.55;
    z-index: 2;
    margin: 0 auto;
    color: black;
}

.userTotal {
    padding: 10px;
    width: 150px;
    font-size: 15px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 15%;
    opacity: 0.55;
    z-index: 2;
    margin: 0 auto;
    color: black;
}